.one-day {
   margin: 0 20px 0 0;

   @media screen and (max-width: 990px) {
      margin: 0 auto;
   }

   &__item {
      margin: 20px 0;
      width: 800px;
      height: 142px;
      overflow: hidden;
      background: #FFFFFF;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media screen and (max-width: 990px) {
         display: flex;
         justify-content: space-between;
         width: 100%;
         font-size: 12px;
         padding: 8px;
      }

      &:first-child {
         margin: 0;
      }

      &-date {
         font-size: 22px;
      }

      &-temp {
         font-size: 18px;
         margin: 0 0 0 65px;
         display: flex;
         width: 329px;
         justify-content: space-between;
         flex-wrap: wrap;

         &__info {
            width: 94px;
            display: flex;
            margin: 15px 8px;
            align-items: center;

            @media screen and (max-width: 990px) {
               width: 50px;
               margin: 15px 10px;
               flex-direction: column;
            }

            p {
               margin-right: 35px;
            }

            span {
               background: #EDF7FF;
               padding: 10px;
               border-radius: 5px;
            }
         }
      }
   }
}