.one-day {
   margin: 0 20px 0 0;

   &__item {
      margin: 20px 0;
      width: 800px;
      height: 142px;
      overflow: hidden;
      background: #FFFFFF;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;

      &:first-child {
         margin: 0;
      }

      &-temp {
         margin: 0 0 0 20px;
         display: flex;
         max-width: 329px;
         justify-content: space-between;
         flex-wrap: wrap;

         &__container {
            width: 94px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;

            p {
               margin-right: 30px;
            }

            span {
               background: #EDF7FF;
               padding: 10px;
               border-radius: 5px;
            }
         }
      }
   }
}